{% extends "template/baseLogin.html.twig" %}

{% block title %} Login {% endblock %}

{% block head %}
{{ parent() }}
<link href="{{ app.url_public }}/css/login.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form class="form-signin" action="{{ app.url_base }}/newuser" method="POST">

                    <div class="logo">
                        <img src="{{app.url_public}}/imgs/allpref.jpg">
                    </div>

                    <div class="form-group">
                        <h4 class="text-center">New User</h4>
                    </div>

                    {% if app.my_session.has('success') %}
                        <div class="alert alert-success" role="alert">
                            {{ app.my_session.flash('success') }}
                        </div>
                    {% endif %}

                    {% if app.my_session.has('error') %}
                        <div class="alert alert-danger">
                            {{ app.my_session.flash('error') }}
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <input type="text" id="name" name="name" class="form-control" placeholder="Name" required autofocus>
                    </div>

                    <div class="form-group">
                        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                    </div>

                    <div class="form-group">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                               required>
                    </div>

                    <div class="form-group">
                        <input type="password" id="repeatPassword" name="repeatPassword" class="form-control"
                               placeholder="Repeat Password" required>
                    </div>

                    <div class="form-group">
                        <input type="hidden" name="_token" value="{{ token }}">
                        <button class="btn btn-success btn-block" type="submit">Sign Up</button>
                    </div>

                    <div class="form-group text-center">
                        <a href="{{ app.url_base }}">back</a>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}
